{:paths ["src"]
 :deps {}
 :aliases
 {:dev
  {:extra-paths ["test"]}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.80.1274"}}
   :main-opts ["-m" "kaocha.runner"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}